<div th:fragment="content">
    <h1 class="text-2xl font-bold mb-6">Venda de Veículo</h1>

    <form th:action="@{/admin/veiculos/venda}"
          th:object="${vendaVeiculoDTO}" method="post" class="space-y-6 bg-white p-6 rounded shadow max-w-xl">
        <!-- Modelo -->
        <div>
            <label class="block text-sm font-medium text-gray-700" for="modelo">Modelo:</label>
            <select class="mt-1 block w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring focus:border-blue-500" th:field="*{modeloId}"
                    name="modelo" id="modelo" required>
                <option value="" disabled selected>Selecione um modelo</option>
                <option th:each="modelo : ${modelos}"
                        th:value="${modelo.id}"
                        th:text="${modelo.marca + ' ' + modelo.modelo + ' - ' + modelo.ano}">
                </option>
            </select>
        </div>

        <!-- PLACA -->
        <div>
            <label for="placa" class="block text-sm font-medium text-gray-700">Placa</label>
            <input type="text" id="placa" th:field="*{placa}" required
                   class="mt-1 block w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring focus:border-blue-500" />
        </div>

        <!-- VALOR -->
        <div>
            <label for="valor" class="block text-sm font-medium text-gray-700">Valor</label>
            <input type="number" id="valor" th:field="*{valor}" required
                   class="mt-1 block w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring focus:border-blue-500" />
        </div>

        <!-- Botões -->
        <div class="flex justify-end space-x-2">
            <button type="submit"
                    class="bg-blue-600 hover:bg-blue-700 text-white font-semibold px-4 py-2 rounded">
                Confirmar Venda
            </button>
        </div>
    </form>
</div>