<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Voce Aluga</title>
	<script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="min-h-screen bg-zinc-900">
	<div class="flex min-h-screen flex-col lg:flex-row">

		<div class="flex-1 flex items-center justify-center p-4 lg:p-6">
			<div class="w-full max-w-sm sm:max-w-md lg:max-w-lg xl:max-w-xl">

				<h1 class="mb-6 text-2xl sm:text-3xl lg:text-4xl font-bold text-zinc-100 text-center">Aluga Mais</h1>

				<form th:action="@{/cadastro}" method="post" th:object="${usuario}" class="w-full">
					<h2 class="mb-6 text-xl sm:text-2xl lg:text-3xl font-bold text-zinc-100">Cadastro</h2>

					<div class="flex flex-col gap-3 lg:gap-4">

						<div>
							<label for="nome" class="block text-sm font-medium text-zinc-100 mb-1">Nome</label>
							<input type="text" id="nome" th:field="*{nome}"
								class="w-full h-12 rounded-xl bg-zinc-800 px-4 text-zinc-100 placeholder:text-white/40 focus:ring-2 focus:ring-blue-500 focus:outline-none transition-all"
								placeholder="Digite seu nome" required />
						</div>

						<div>
							<label for="email" class="block text-sm font-medium text-zinc-100 mb-1">Email</label>
							<input type="email" id="email" th:field="*{email}"
								class="w-full h-12 rounded-xl bg-zinc-800 px-4 text-zinc-100 placeholder:text-white/40 focus:ring-2 focus:ring-blue-500 focus:outline-none transition-all"
								placeholder="Digite seu email" required />
						</div>

						<div>
							<label for="cpf" class="block text-sm font-medium text-zinc-100 mb-1">CPF (Somente números)</label>
							<input type="text" id="cpf" th:field="*{cpf}"
								class="w-full h-12 rounded-xl bg-zinc-800 px-4 text-zinc-100 placeholder:text-white/40 focus:ring-2 focus:ring-blue-500 focus:outline-none transition-all"
								placeholder="Digite seu CPF" required />
						</div>

						<div>
							<label for="dataNascimento" class="block text-sm font-medium text-zinc-100 mb-1">Data de
								Nascimento</label>
							<input type="date" id="dataNascimento" name="dataNascimento"
								th:value="${usuario.dataNascimento != null ? #temporals.format(usuario.dataNascimento, 'yyyy-MM-dd') : ''}"
								required
								class="w-full h-12 rounded-xl bg-zinc-800 px-4 text-zinc-100 placeholder:text-white/40 focus:ring-2 focus:ring-blue-500 focus:outline-none transition-all" />
						</div>

						<div>
							<label for="telefone" class="block text-sm font-medium text-zinc-100 mb-1">Telefone (Somente
								números)</label>
							<input type="text" id="telefone" th:field="*{telefone}"
								class="w-full h-12 rounded-xl bg-zinc-800 px-4 text-zinc-100 placeholder:text-white/40 focus:ring-2 focus:ring-blue-500 focus:outline-none transition-all"
								placeholder="Digite seu telefone" required />
						</div>

						<div>
							<label for="senha" class="block text-sm font-medium text-zinc-100 mb-1">Senha</label>
							<input type="password" id="senha" th:field="*{senha}"
								class="w-full h-12 rounded-xl bg-zinc-800 px-4 text-zinc-100 placeholder:text-white/40 focus:ring-2 focus:ring-blue-500 focus:outline-none transition-all"
								placeholder="Digite sua senha" />
						</div>

						<button type="submit"
							class="w-full mt-4 lg:mt-6 rounded-3xl border-2 border-blue-400 bg-blue-700 py-2 lg:py-3 text-sm lg:text-base text-white font-bold transition duration-200 hover:bg-blue-500 focus:ring-2 focus:ring-blue-300 focus:outline-none h-10 flex items-center justify-center">
							Cadastre-se
						</button>

						<div th:if="${param.error}" class="text-red-500 text-sm text-center mt-2">
							Falha ao cadastrar usuários
						</div>

					</div>
				</form>

				<div class="w-full mt-8 text-center space-y-3 lg:hidden">
					<p class="text-sm text-zinc-100">Já tem uma conta? Logue-se abaixo.</p>
					<a th:href="@{/login}"
						class="inline-block w-full px-4 py-2 rounded-3xl border-2 border-zinc-700 bg-zinc-900 text-sm text-white font-bold hover:bg-zinc-800 transition duration-200 focus:ring-2 focus:ring-zinc-500 focus:outline-none">
						Login
					</a>
				</div>
			</div>
		</div>

		<div class="hidden lg:flex flex-1 lg:max-w-lg xl:max-w-xl items-center justify-center bg-blue-700 p-4 lg:p-8">
			<div class="w-full max-w-md text-center space-y-4 lg:space-y-8">

				<h1 class="text-4xl lg:text-6xl font-bold text-zinc-100 leading-tight">
					Bem-vindo de volta!
				</h1>

				<p class="text-xl font-bold text-zinc-100">
					Já tem uma conta? Logue-se abaixo.
				</p>
				<a th:href="@{/login}"
					class="inline-block w-full px-4 py-2 rounded-3xl border-2 border-zinc-700 bg-zinc-900 text-sm text-white font-bold hover:bg-zinc-800 transition duration-200 focus:ring-2 focus:ring-zinc-500 focus:outline-none h-10">
					Login
				</a>
			</div>
		</div>
	</div>
</body>