table.dataTable.no-footer {
    border-bottom: none;
}

/* Estiliza paginação do DataTable */
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0.25rem 0.75rem;
    border-radius: 0.5rem;
    background-color: #f3f4f6;
    margin: 0 0.25rem;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background-color: #3b82f6;
    color: white !important;
}

.dataTables_length, .dataTables_filter {
    margin-bottom: 1rem;
}

.dataTables_info {
    margin-top: 1rem;
}